.gitattributes

*.so
*.o
*.a

slu/ext/llvm/**

temp

# https://github.com/github/gitignore/blob/main/CMake.gitignore
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps
**/CMakeUserPresets.json

*.pdb
**/.vs
*.sln
*.vcxproj*
/x64/*
**/build/
**/_TEST_OUT
out/

**/SluDialect.cpp.inc
**/SluDialect.h.inc
**/SluOps.cpp.inc
**/SluOps.h.inc
**/SluOpsDialect.cpp.inc
**/SluOpsDialect.h.inc
**/SluOpsTypes.cpp.inc
**/SluOpsTypes.h.inc